<h1>CSI 360 Serial Number Registry</h1>
<div class="box">
<form name="nme" method="post" action="/serialnumber/">
<table cellspacing="10" cellpadding="10">
<tr>
<td><input name="sn" type="text"></input></td>
<td>
	<input name="btnsn" class="button" type="submit" value="Search SN" />
</td>
</tr>
</table>
</form>
</div>