<h1>You searched for:</h1>
<p><h3><%= @sn %></h3></p>
<p><h3>Results</h3></p>
<div class="box">
<%= @htmldump %>
</div>
<a href="/">
<div class="buttons">
<button class="button is-link">Search again..</button>
</div>
</a>
